@model IEnumerable<MVC_FinalDemo.Models.tCustomer>

@{
    ViewBag.Title = "會員管理";
    Layout = "~/Views/Shared/_LayoutAdminIndex.cshtml";
}

<h2>會員管理</h2>

<p>
    @Html.ActionLink("新增會員", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerPassword)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fCustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerEmail)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerPassword)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fCustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCustomerEmail)
        </td>*@
        <td>
            @Html.ActionLink("編輯", "CEdit", new { cid=item.fCustomerID }, new { @class="btn btn-warning"})
            @Html.ActionLink("詳細", "Details", new { id=item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("刪除", "CDelete", new { cid = item.fCustomerID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
