@model IEnumerable<MVC_FinalDemo.Models.tOrder>

@{
    ViewBag.Title = "訂單管理";
    Layout = "~/Views/Shared/_LayoutAdminIndex.cshtml";
}

<script>
    //function btnSetState(oid) {
    //    var op = $("#OState").val();
    //    //alert(op);
    //    var apiurl = "http://localhost:50728/api/SetOrderState";
    //    $.ajax({
    //        url: apiurl + "?oid=" + encodeURI(oid) + "&state=" + encodeURI(op),
    //        type: "PUT",
    //        success: function (data) {
    //            if (data) {
    //                alert("修改完成");
    //            }
    //        }
    //    });
    //}

    function OnChangeStste(oid) {
        var state = $("#OState").val();
        //alert(state);
        var apiurl = "http://localhost:50728/api/SetOrderState";
        $.ajax({
            url: apiurl + "?oid=" + encodeURI(oid) + "&state=" + encodeURI(state),
            type: "PUT",
            success: function (data) {
                if (data) {
                    alert("修改完成");
                }
            }
        });
    }
</script>

<h2>訂單管理</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fState)
        </th>
        @*<th>

            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fDate)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.fState)*@

                <select id="OState" name="OState" class="form-control form-control-sm" onchange="OnChangeStste('@item.fOrderID')">
                    @foreach (var op in ViewBag.Option)
                    {
                        <option value="@op.Value" @(item.fState.Equals(op.Text) ? "SELECTED" : "")>@op.Text</option>
                    }
                </select>
                @*<button id="btnSetState" type="button" class="btn btn-success btn-sm my-2 " onclick="btnSetState('@item.fOrderID')">修改狀態</button>*@
            </td>
            @*<td>
                    @Html.DropDownList("selector", (IEnumerable<SelectListItem>)ViewBag.Option, new { @class="form-control form-control-sm"})

                </td>*@
            <td>
                @*@Html.ActionLink("設定", "OEdit", new { oid = item.fOrderID }, new { @class="btn btn-info"})*@
                @Html.ActionLink("刪除訂單", "ODelete", new { oid = item.fOrderID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
