@model MVC_FinalDemo.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "產品資料";
    Layout = "~/Views/Shared/_LayoutAdminIndex.cshtml";
}

<h2>產品資料</h2>
<div class="row ">
    <div class="col-md-2 my-5">
        <div class="btn-group" role="group">
            <div class="form-group">
                <label for="dropdownBtn">類別篩選 :</label>
                <button type="button" id="dropdownBtn" class="btn btn-info dropdown-toggle" data-toggle="dropdown">產品類別</button>
                <div class="dropdown-menu" aria-labelledby="dropdownBtn">
                    @foreach (var item in Model.Category)
                    {
                        <a href="@Url.Action("Product", new { id=item.Id})" class="btn btn-info dropdown-item">@item.fName</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped my-4">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().fProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().fProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().fProductCatagory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().fProductPrice)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fProductCatagory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fProductPrice)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { pd = item.fProductName }, new { @class = "btn btn-success ", id = "btnAdd" })

                    </td>

                </tr>
            }

        </table>
    </div>
</div>
