@*未登入首頁*@
@model IEnumerable<MVC_FinalDemo.Models.tProduct>

@{
    ViewBag.Title = "產品列表";
}

<script>
    function Message() {
        var r = confirm("請先登入");
        if (r) {
            window.location.replace("../Member/Login");
        }
    }
</script>
<h2>產品列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fProductCatagory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fProductCatagory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fProductPrice)
        </td>
        <td>
            <button type="button" class="btn btn-warning" id="AddCart" onclick="Message()">加到購物車</button>
        </td>
    </tr>
}

</table>
